@use '../../../styles/partials/variables' as *;
@use '../../../styles/partials/mixins' as *;

.edit-note {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include desktop {
        width: 100%;
    }
}
