@use '../../../styles/partials/variables' as *;
@use '../../../styles/partials/mixins' as *;

.add-note {
    display: flex;
    flex-direction: column;
    @include desktop {
        width: 100%;
    }
}