@use './variables' as *;
@use './mixins' as *;

* {
  box-sizing: border-box;
  margin: 0;
}

ul,
li {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2 {
    @include text-header;
}

h3 {
    @include text-subheader;
}

p, span {
    @include text-body;
}

button, nav a {
    @include text-button;
}