$tablet-screen: 768px;
$desktop-screen: 1280px;

$font-header: 'Bebas Neue', sans-serif;
$font-body: 'Poppins', sans-serif;

$color-text-primary: #1C1C1C;
$color-text-alt: #3D3D3D;
$color-background-primary: #F4F4F4;
$color-background-alt: #D8D8D8;
$color-background-alt2: #FAFAFA;
$color-border: #A8A8A8;
$color-accent-alt: #457B9D;
$color-link: #1B4D89;
$color-accent-primary: #E63946;