@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.page-header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 76px 1rem 1rem 0;
    background-color: white;
    gap: 1rem;
    @include text-header;
    @include desktop {
        width: 100%;
        height: 80.91px;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 170px;
        gap: 1.5rem;
    }
    &__left-container {
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    &__icon {
        cursor: pointer;
    }
    &__add-container {
        display: flex;
        align-items: center;
        gap:0.75rem;
        cursor: pointer;
        padding-right: 1rem;
        @include desktop {
            padding-right: 2rem;
        }
    }
    &__add-title {
        display: none;
        @include desktop {
            display: flex;
            letter-spacing: 3px;
        }
    }
}